---
import Layout from '@/layouts/Layout.astro'
import { getBlogEntries } from '@/contentful/parsed'
import Card from '@/components/Card.astro'
import Container from '@/components/Container.astro'
// import { CONTENTFUL_MODE } from '@/contentful/config'

const CONTENTFUL_SPACE_ID = import.meta.env.CONTENTFUL_SPACE_ID
const CONTENTFUL_TOKEN = import.meta.env.CONTENTFUL_TOKEN
// const CONTENTFUL_TOKEN = import.meta.env.CONTENTFUL_PREVIEW_TOKEN

const entries = await getBlogEntries({
  space: CONTENTFUL_SPACE_ID,
  accessToken: CONTENTFUL_TOKEN,
  // mode: CONTENTFUL_MODE.PREVIEW,
})

if (!entries) {
  throw new Error('No se ha encontrado la entrada')
}
---

<Layout title="Blog">
  <Container class="mt-4 flex flex-col justify-center justify-items-center gap-x-8 gap-y-2">
    <h1 class:list={['inline-block self-center text-h5 font-bold', 'md:text-h3 md:leading-tight']}>Blog</h1>
    <h2 class:list={['inline-block self-center text-pretty text-body1 opacity-70', 'md:text-h5 md:leading-tight']}>
      Últimos artículos de Programación Frontend
    </h2>

    <ul class="my-4 grid w-full grid-cols-[repeat(auto-fill,minmax(270px,1fr))] gap-4">
      {
        entries &&
          entries.map((e) => (
            <li>
              <a href={`/blog/${e.url}`}>
                <Card title={e.title} grouped="yes">
                  <div class="overflow-hidden rounded-sm">
                    <img
                      alt="Art"
                      src={e.image?.url}
                      class="h-40 w-full object-cover transition-all duration-500 group-hover:scale-110"
                    />
                  </div>

                  <h3 class="mb-2 mt-4 line-clamp-1 w-auto items-center gap-1 text-h6 font-extrabold leading-none text-white transition group-hover:text-gray-400/50 group-hover:underline">
                    {e.title}
                  </h3>

                  <p class="line-clamp-4 text-pretty text-subtitle2 opacity-70" set:html={e.description} />
                </Card>
              </a>
            </li>
          ))
      }
    </ul>
  </Container>
</Layout>
