---
import Layout from '@/layouts/Layout.astro'
import Experience from '@/components/Experience.astro'
import SocialMedia from '@/components/SocialMedia.astro'
import Code from '@/components/icons/Code.astro'
import School from '@/components/icons/School.astro'
import Container from '@/components/Container.astro'

import { info } from '@info'

const { name, professionalExp, academicExp } = info
const jobDescription = professionalExp[0].job[0].name
const jobCompany = professionalExp[0].name
---

<Layout title="Porfolio">
  <Container class="mt-2 flex flex-col items-start justify-center gap-6 lg:flex-row">
    <aside class="flex shrink grow-0 basis-6/12 flex-col gap-4">
      <picture>
        <source srcset="/profile.webp" type="image/webp" />
        <img
          class:list={['h-32 w-32 rounded-full border-2 border-neutral-700 object-cover', 'md:size-40', 'lg:size-52']}
          src="/profile.png"
          alt="Imagen de Jes칰s V치llez"
          width="740"
          height="420"
        />
      </picture>

      <p class="text-body1">
        춰Hey! <span data-testid="emoji" role="img" aria-label="Mano saludando">游녦游낕</span>, mi nombre es
      </p>

      <h1
        class:list={[
          'mx-0 inline font-bold leading-tight text-transparent [font-size:_clamp(28px,_5vw+12px,_50px)] sm:block md:[font-size:_clamp(28px,_4vw+4px,_50px)]',
          'animate-[gradient_5s_ease_infinite] bg-gradient-to-r from-my-secondary via-my-primary to-my-tertiary bg-[length:150%_100%] bg-clip-text',
        ]}
      >
        {name}
      </h1>
      <h2
        class:list={[
          'mx-0 text-balance',
          'inline text-h6 font-bold leading-tight sm:block',
          'md:text-h5 md:leading-tight',
        ]}
      >
        Actualmente trabajo como {jobDescription} en {jobCompany}
      </h2>
      <p class="max-w-3xl text-balance text-body1">
        <span class="text-my-primary">+10 a침os de experiencia.</span> Crear experiencias digitales define mi profesi칩n y
        hobby.
        <span class="text-my-secondary">Trato de ir siempre m치s all치</span> involucrandome en el an치lisis, dise침o e implementaci칩n
        <span class="text-my-tertiary">con visi칩n cr칤tica.</span>
      </p>
      <SocialMedia items={info.socialMedia} />
    </aside>
    <div class="flex w-full shrink grow-0 basis-6/12 flex-col items-start justify-between gap-8">
      {
        professionalExp.length > 0 && (
          <Experience name="Experiencia Profesional" job={professionalExp}>
            <Code slot="icon" class="size-8" />
          </Experience>
        )
      }
      {
        academicExp?.length > 0 && (
          <Experience name="Formaci칩n Acad칠mica" job={academicExp}>
            <School slot="icon" class="size-8" />
          </Experience>
        )
      }
    </div>
  </Container>
</Layout>
