---
import type { Experience } from '../@types'
import ExperienceItem from './ExperienceItem.astro'

interface Props {
  name: string
  job: Experience[]
}

const { name, job } = Astro.props
---

<section class="mx-auto w-full max-w-6xl px-6">
  <div class="flex flex-row items-center gap-2">
    <slot name="icon" />
    <h2
      class="inline bg-gradient-to-bl from-my-tertiary to-my-tertiary bg-[length:90%_35%] bg-bottom bg-no-repeat text-h6 font-extrabold uppercase"
    >
      {name}
    </h2>
  </div>

  <div class="red mt-4 w-full space-y-4 sm:space-y-6">
    {
      job.map((work) => (
        <article
          class:list={[
            'relative flex flex-col items-start gap-2',
            'rounded-sm border-[1px] border-solid border-neutral-700 bg-neutral-800/20 px-2 py-4 backdrop-blur-3xl sm:p-3',
          ]}
        >
          <div>
            <h3 class="inline bg-gradient-to-bl from-my-secondary to-my-secondary bg-[length:90%_18%] bg-bottom bg-no-repeat text-h5 font-extrabold">
              {work.name}
            </h3>
          </div>
          <p class="mt-2 inline text-caption font-medium text-my-primary">{work.location}</p>
          <ul class="w-full space-y-4">
            {work.job.map((workspace) => (
              <li>
                <div class="mb-2 flex flex-col justify-between md:flex-row md:items-center">
                  <h4 class="text-h6 font-extrabold">{workspace.name}</h4>
                  <p class="text-body2 font-medium text-neutral-400">
                    {workspace.startDate} - {workspace.endDate}
                  </p>
                </div>

                <ExperienceItem description={workspace.description} />

                <ul class="flex flex-row flex-wrap gap-2 pt-2">
                  {workspace.technologies.map((tech) => (
                    <li class="whitespace-nowrap rounded-full bg-[#323232] px-2 py-1 text-xs font-semibold text-white">
                      {tech}
                    </li>
                  ))}
                </ul>
              </li>
            ))}
          </ul>
        </article>
      ))
    }
  </div>
</section>
