---
import type { Info } from '@/@types'

type Props = {
  info: Info
}

const { info } = Astro.props
const { name, aboutMeShort, experience } = info

const jobDescription = experience['Experiencia Profesional'][0].job[0].name
const jobCompany = experience['Experiencia Profesional'][0].name
---

<section
  class="mx-auto mt-6 flex w-full max-w-6xl flex-col-reverse items-start gap-6 px-6 md:mt-20 md:flex-row md:px-4"
>
  <div class:list={['flex w-full flex-col items-start justify-between gap-4']}>
    <p class="text-body1">
      ¡Hola a todos! <span data-testid="emoji" role="img" aria-label="Mano saludando">👋🏻</span>, mi nombre es
    </p>

    <h2
      class:list={[
        'mx-0',
        'inline font-bold leading-tight text-transparent [font-size:_clamp(28px,_6vw+10px,_56px)] sm:block',
        'animate-[gradient_5s_ease_infinite] bg-gradient-to-r from-my-secondary via-my-primary to-my-tertiary bg-[length:150%_100%] bg-clip-text',
      ]}
    >
      {name}
    </h2>
    <h1 class:list={['mx-0', 'inline text-h5 font-bold leading-tight sm:block', 'md:text-h4 md:leading-tight']}>
      {jobDescription} en {jobCompany}
    </h1>
    <p class="max-w-3xl text-body1">{aboutMeShort}</p>
    <a
      href="/curriculum-vitae"
      title="Ver currículum vitae"
      class:list={[
        'mt-4 px-6 py-2',
        'inline-flex w-full items-center justify-center gap-2 rounded border border-my-secondary bg-my-secondary  text-sm font-medium text-white',
        'hover:bg-transparent hover:text-my-secondary focus:outline-none focus:ring active:text-my-secondary',
        'sm:mt-0 sm:w-auto',
      ]}
    >
      <span class="text-sm font-medium">Ver Currículum Vitae</span>

      <svg
        class="h-5 w-5 rtl:rotate-180"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M5 12l14 0"></path>
        <path d="M13 18l6 -6"></path>
        <path d="M13 6l6 6"></path>
      </svg>
    </a>
  </div>

  <img
    class:list={['h-36 w-36 rounded-full object-cover', 'md:h-48 md:w-48', 'lg:h-60 lg:w-60']}
    src="/ogimage.png"
    alt="Imagen de Jesús Vállez"
    width="740"
    height="420"
  />

  <!-- {
    about?.length > 0 && (
      <div class="space-y-4">
        {about.map((elements) => (
          <p class="text-body1">{elements}</p>
        ))}
      </div>
    )
  } -->
</section>
