---
type Props = {
  title: string
  description: string
  ogImagePath: string
  info: {
    name: string
    baseUrl: string
  }
}

const { title, description, ogImagePath, info } = Astro.props

/*
<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" /> -->
<!-- <link rel="manifest" href="/site.webmanifest" /> -->
<!-- <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" /> -->
*/
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
{info.baseUrl && <base href={info.baseUrl} />}

<script async src="https://analytics.eu.umami.is/script.js" data-website-id="4f591a21-f27b-46da-940f-65a39edec4f8" />

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<meta name="keyword" content="portfolio, javascript, typescript, react, nextjs, developer, frontend" />
{title && <link rel="canonical" href={`${info.baseUrl}${Astro.url.pathname}`} />}

<!-- Primary Meta Tags -->
{title && <title>{`${title} | ${info.name}`}</title>}
{title && <meta name="title" content={`${title} | ${info.name}`} />}
{description && <meta name="description" content={description} />}

<!-- Open Graph / Facebook -->
{title && <meta property="og:type" content="website" />}
{title && <meta property="og:url" content={`${info.baseUrl}${Astro.url.pathname}`} />}
{title && <meta property="og:title" content={`${title} - ${info.name}`} />}
{description && <meta property="og:description" content={description} />}
{ogImagePath && <meta property="og:image" content={`${info.baseUrl}${ogImagePath}`} />}

<!-- Twitter -->
{title && <meta property="twitter:card" content="summary_large_image" />}
{title && <meta property="twitter:domain" content={info.baseUrl} />}
{title && <meta property="twitter:url" content={`${info.baseUrl}${Astro.url.pathname}`} />}
{title && <meta property="twitter:title" content={`${title} - ${info.name}`} />}
{description && <meta property="twitter:description" content={description} />}
{ogImagePath && <meta property="twitter:image" content={`${info.baseUrl}${ogImagePath}`} />}
